<div class="videos" aria-labelledby="Video">
    <h2 class="videos__title-line" role="heading"><span>VIDEOS</span></h2>

    <div class="video__list">
        <ul class="video-list">
            <li class="video-list__item">
                <div class="video-list__item__image violet-video-icon">
                    <img class="video-list__item__img" src="assets/img/videos/pic1.png" alt="video_img"/>
                </div>
                <span class="video-list__item__title">TOP Goals of week</span>
            </li>
            <li class="video-list__item">
                <div class="video-list__item__image violet-video-icon">
                    <img class="video-list__item__img" src="assets/img/videos/pic22.png" alt="video_img"/>
                </div>
                <span class="video-list__item__title">The power of Neuer!</span>
            </li>
            <li class="video-list__item">
                <div class="video-list__item__image violet-video-icon">
                    <img class="video-list__item__img" src="assets/img/videos/pic3.png" alt="video_img"/>
                </div>
                <span class="video-list__item__title">The most intense and famous Kahn's saves</span>
            </li>
            <li class="video-list__item">
                <div class="video-list__item__image violet-video-icon">
                    <img class="video-list__item__img" src="assets/img/videos/pic4.png" alt="video_img"/>
                </div>
                <span class="video-list__item__title">Rooney just have beaten national record!</span>
            </li>
            <li class="video-list__item">
                <div class="video-list__item__image violet-video-icon">
                    <img class="video-list__item__img" src="assets/img/videos/pic5.png" alt="video_img"/>
                </div>
                <span class="video-list__item__title">Sir Alex Ferguson - the MU legend</span>
            </li>
        </ul>
    </div>
    <h2 class="videos-more__title-line"><span>More videos</span></h2>
</div>
