<div class="last-news" aria-labelledby="LastNews">
    <h2 class="last-news__title-line" role="heading"><span>Last News</span></h2>
    <div class="last-news__list">
       <ul class="last-news-list">
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Real Madrid players to gaffer: up and at 'em!</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Swedes indebted to talismanic librahimovic</span>
               <a class="last-news-list__item__link" href="https://www.marca.com" role="link">marca.com</a>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Ancelotti: "Premier Leaague return is my no1 choice"</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Walters double secures Euro 2016 spot for Ireland</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">"They intended to set off an explosive inside the stadium" - eyewitness</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title photo-icon">Raul bids goodbye in style</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Five reasons Belgium vs. Spain was called ofo</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Niggles won't keep Benzema out of 'Classico'</span>
           </li>
           <li class="last-news-list__item">
               <span class="last-news-list__item__title">Abdeslam suspected to have been near Kng Baudouin Stadium</span>
           </li>
       </ul>
    </div>
</div>
