$s-left_arrow = 13px 19px -13px -19px 12px 24px 48px 43px 'sprite.png';
$s-photo_icon = 25px 19px -25px -19px 16px 12px 48px 43px 'sprite.png';
$s-red_photo_icon = 0px 0px 0px 0px 24px 19px 48px 43px 'sprite.png';
$s-right_arrow = 0px 19px 0px -19px 13px 24px 48px 43px 'sprite.png';
$s-video_icon = 25px 31px -25px -31px 16px 12px 48px 43px 'sprite.png';
$s-violet_video_icon = 24px 0px -24px 0px 24px 19px 48px 43px 'sprite.png';
