@import '../../mixins/mixins'
@import '../../mixins/sprite-mixins'
@import '../../common/sprite'
@import '../../common/vars'
.newsfeed {
    box-sizing: border-box;
    width: 400px;
    padding: 20px 20px 0 0;

    &__list {
        padding-left: 15px;
    }

    &__title-line {
        titleLine($newsfeed_title-line, left, 10px);
        color: $newsfeed_title;

        span {
            padding-right: 5px;
        }
    }
}

.newsfeed-list {
    list-style-type: disc;

    &__item {

        &__item {

            &__title {
                font-size: 14px;
            }

            &__link {
                font-size: 14px;
                text-decoration: none;
                color: $newsfeed_link;
            }
        }

        &_main {
            font-weight: bold;
        }

        &_main:before {
            content: '';
            float: left;
            display: inline-block;
            width: 100px;
            height: 55px;
            margin-left: 5px;
            margin-right: 5px;
            background-repeat: no-repeat;
            background-image: url("../assets/img/newsfeed/footballer.png");
            list-style-type: none;
        }
    }
}

/*
.photo-icon:after {
    content: '';
    display: inline-block;
    sprite($s-photo_icon);
    background-repeat: no-repeat;
}*/

/*.video-icon:after {
    content: '';
    display: inline-block;
    sprite($s-video_icon);
    background-repeat: no-repeat;

}*/

