<div class="newsfeed" aria-labelledby="NewsFeed">
    <h2 class="newsfeed__title-line" role="heading"><span>Newsfeed</span></h2>
    <div class="newsfeed__list">
       <ul class="newsfeed-list">
           <li class="newsfeed-list__item_main photo-icon">
               <span class="newsfeed-list__item__item__title">Zlatan Ibrahimovic on target as Sweden quality with draw in Denmark</span>
           </li>
           <li class="newsfeed-list__item">
               <span class="newsfeed-list__item__item__title">Alvaro Morata insist Juventus are 'still hungry' and targets victory over Milan on Saturaday</span>
           </li>
           <li class="newsfeed-list__item">
               <span class="newsfeed-list__item__item__title video-icon">Ecuador stay perfect as Argentina, Brazil win</span>
           </li>
           <li class="newsfeed-list__item">
               <span class="newsfeed-list__item__item__title">Sweden, Ukraine complete Euro line-up</span>
               <a class="newsfeed-list__item__item__link" href="https://www.fifa.com" role="link">fifa.com</a>
           </li>
           <li class="newsfeed-list__item">
               <span class="newsfeed-list__item__item__title">Aubameyang penalty fives Gabon World Cup joy</span>
           </li>
       </ul>
    </div>
</div>
