<div class="carousel" aria-labelledby="Carousel">
    <img class="carousel__image" src="assets/img/news_football_couch.png" alt="news image"/>
    <div class="carousel__description">
        <h2 class="carousel__description__title" role="heading"> Jurgen Klopp makes a sexy Liverpool</h2>
        <span class="carousel__description__body">Liverpool outcass Jose Enrique set to be handed lifeline by Jurgen Klopp</span>
        <div class="carousel__description__switch">
          <span class="carousel__description__switch__page">7/10</span>
        </div>
    </div>

</div>
