$container_width = 1200px;

/*===COLORS===*/

// hot theme

$hotTheme_title = #fff;
$hotTheme_title_background = #333;
$hotTheme_news-title_background = #d7d8d9;
// desciption
$description_background = #f7f9fa;
$description_title = #c80000;

// Last news

$lastNews_title-line = #c80000;
$lastNews_title = #3d76cc;
$lastNews_title_hover = #6a0099;
$lastNews_link = #808080;
// newsfeed

$newsfeed_title-line = #c80000;
$newsfeed_title = #3d76cc;
$newsfeed_link = #808080;

// mainNews
$mainNews_title-line = #333;

// video
$videos_title-line = #333;
$videos_title = #6a0099;
$videos_more-video_title-line = #333;
$videos_more-video_title = #3d76cc;
