<div class="gallery" aria-labelledby="Gallery">
    <div class="gallery__list">
        <ul class="gallery-list">
            <li class="gallery-list__item">
                <div class="gallery-list__item__image red-photo-icon">
                    <img class="gallery-list__item__img" src="assets/img/gallery/pic1.png"
                         alt="gallery_img"/>
                </div>
                <span class="gallery-list__item__title">Here is how League Chapions trophy looks like</span>
            </li>
            <li class="gallery-list__item">
                <div class="gallery-list__item__image red-photo-icon">
                    <img class="gallery-list__item__img" src="assets/img/gallery/pic2.png" alt="gallery_img"/>
                </div>
                <span class="gallery-list__item__title">Casillas got some piece of paper </span>

            </li>
            <li class="gallery-list__item">
                <div class="gallery-list__item__image red-photo-icon">
                    <img class="gallery-list__item__img" src="assets/img/gallery/pic3.png" alt="gallery_img"/>
                </div>
                    <span class="gallery-list__item__title">Bayen Munch vs Barcelona. Fangirls :)</span>
            </li>
        </ul>
    </div>
</div>
