<div class="main-news" aria-labelledby="MainNews">
    <h2 class="main-news__title-line" role="heading"><span>Main News</span></h2>
    <div class="main-news__list">
        <ul class="news-list" role="tablist" aria-live="polite">
            <li class="news-list__item" tabindex="0" role="tab">
                <img class="news-list__item__img" src="assets/img/mainNews/pic1.png" alt="news_img"/>
                <span class="news-list__item__title">The FIFA Ballon d'Or is an annual association football
                award given by FIFA</span>
            </li>
            <li class="news-list__item" tabindex="0" role="tab">
                <img class="news-list__item__img" src="assets/img/mainNews/pic2.png" alt="news_img"/>
                <span class="news-list__item__title">Messi got some baloons</span>
            </li>
            <li class="news-list__item" tabindex="0" role="tab">
                <img class="news-list__item__img" src="assets/img/mainNews/pic3.png" alt="news_img"/>
                <span class="video-list__item__title">CR7 also have some ball, but not so much</span>
            </li>
            <li class="news-list__item" tabindex="0" role="tab">
                <img class="news-list__item__img" src="assets/img/mainNews/pic4.png" alt="news_img"/>
                <span class="news-list__item__title photo-icon">Ribery got vase!</span>
            </li>
        </ul>
    </div>
</div>
