<div class="hot-themes" aria-labelledby="HotTheme">
    <div class="hot-themes__title"  role="heading">
        <span> Hot themes</span>
    </div>
    <div class="hot-themes__news-title">
        <ul class="hot-themes__news-title-list">
            <li class="hot-themes__news-title-list__item">EURO-2016 Playofffs</li>
            <li class="hot-themes__news-title-list__item">El'Classico</li>
        </ul>
    </div>

    <div class="hot-themes__news-title-list">
        <h3></h3>
    </div>
</div>
